<app-header></app-header>

<section class="content-below-header">
    <div class="login-card">
        <h1 mat-headline>Login</h1>
        <form [formGroup]="signInForm">
            <!-- Email -->
            <div>
                <div>
                    <P>EMAIL</P>                   
                </div>
                <mat-form-field appearance="outline" class="width">
                    <input placeholder="Input Email/Username" matInput formControlName="userNameOrEmail" />
                    <mat-error *ngIf="signInForm.get('userNameOrEmail')?.hasError('required')">The
                        Email is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Password -->
            <div>
                <div>
                    <p>PASSWORD</p>
                </div>
                <mat-form-field appearance="outline" class="width">
                    <input type="password" placeholder="Input password" matInput formControlName="password" />
                    <mat-error *ngIf="signInForm.get('password')?.hasError('required')">The
                        Password is required</mat-error>
                </mat-form-field>
            </div>
        </form>
        <button mat-raised-button color="primary" [disabled]="!signInForm.valid" (click)="onLogin()"
            class="width padding">Login</button>

        <div class="forgot-password">
           
                <a href color="primary" (click)="handleForgotPassword()">Forgot your password?</a>
            
            <a href="/signup" color="primary">Create account</a>
        </div>
    </div>
    <!-- <app-recipe-holder></app-recipe-holder> -->
</section>

