.center-message {
    text-align: center;
    font-size: 1.3em;
    top: 20px;
    padding: 20px
}

.row-placement {
    display: flex;
    justify-content: center;
}

.responsive-column {
    flex: 0 0 30%;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.14);
    }
}

.hover-effect {
    background-color: #292c6b;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 0 2px black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    // margin-bottom: 15px;

    &:hover {
        background-color: white;
        color: black;
    }
}


.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    color: #fff;

    .top-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    .search-container {
        display: flex;
        align-items: center;

        .search-input {
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #333;
            position: relative;
            padding-right: 35px;
        }

        .search-button {
            padding: 5px 10px;
            // background-color: #fff;
            border: none;
            border-radius: 5px;
            color: #333;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            background-color: transparent;
            cursor: pointer;
        }

        .search-input button[mat-raised-button] {
            box-shadow: none;
        }
    }

    .menu {
        margin-top: 10px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}